<div class="col-md-6 team_logo"><%=image_tag @team.team_logo%></div>

<div class="col-md-6 team_name"><h2><%= @team.team_name %></h2></div>

<div class="col-md-6 team_description"><%=@team.team_description%></div>
<div class="col-md-6 team_users">
  <ul>
    <% @team.memberships.each do |membership|%>
      <% user = User.find(membership.user_id) %>
      <li><%=user.username%></li>
    <% end %>
  </ul>

  <div class="team_edit"><%= link_to "Edit Team", edit_team_path%></div>
  <div class="add_member"><%= link_to "Add Member", "!"%></div>
</div>
