<%=form_for @tournament do |f| %>
  <p>
    <%= f.label :tournament_name%>
  </p>
  <p>
    <%= f.text_field :tournament_start %>
  </p>
  <p>
    <%= f.label :tournament_start, "Start Date"%>
  </p>
  <p>
    <%= f.text_field :tournament_start %>
  </p>

  <p>
    <%= f.label :tournament_end, "End Date"%>
  </p>
  <p>
    <%= f.text_field :tournament_end %>
  </p>

  <p>
    <%= f.label :team_description%>
  </p>
  <p>
    <%= f.text_area :team_description%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
