<%=form_for @tournament do |f| %>
  <p>
    <%= f.label :tournament_name%>
    <%= f.text_field :tournament_name %>
  </p>
  <!-- NHO: How are you handling datetime input? Are you converting it to a string or vice-versa?  -->
  <p>
    <%= f.label :tournament_start, "Start Date"%>
    <%= f.text_field :tournament_start %>
  </p>
  <p>
    <%= f.label :tournament_end, "End Date"%>
    <%= f.text_field :tournament_end %>
  </p>

  <p>
    <%= f.label :tournament_type%>
    <%= f.text_field :tournament_type%>
  </p>

  <p>
    <%= f.label :max_teams%>
    <%= f.text_field :max_teams%>
  </p>

  <p>
    <%= f.label :tournament_description%>
    <%= f.text_area :tournament_description%>
  </p>

  <p>
    <%= f.label :tournament_banner%>
    <%= f.text_field :tournament_banner%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
