<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Scarlet.gg</h1>
    <nav>
      <ul>
        <li><%= link_to "Teams", teams_path %></li>
        <li><%= link_to "Tournaments", tournaments_path %></li>
        <% if current_user %>
        <li><%= link_to "New Team", new_team_path %></li>
        <li><%= link_to "New Tournament", new_tournament_path %></li>
        <li><%= link_to 'Profile', "profile" %></li>
        <li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to 'Signup', new_user_registration_path %></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>

<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>

<%= yield %>

</body>
</html>
